In [19]:
import pandas as pd
import numpy as np

In [27]:
DF = pd.DataFrame(np.random.randint(10**5, 10**7, (5,3)), columns=list('abc'),dtype=np.int64 )
DF

         a        b        c
0  5524964  8062377   395906
1  6637922  8342016  2394861
2   655608  7979885  4923889
3  1035766  2365582  2639602
4  6137541  6993882  6866965

In [29]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       5 non-null      int64
 1   b       5 non-null      int64
 2   c       5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

In [32]:
DF.dtypes

a    int64
b    int64
c    int64
dtype: object

In [37]:
DF= DF.astype('float64') #changed 1 numberic datatype to another using astype
print(DF)
DF.dtypes

           a          b          c
0  5524964.0  8062377.0   395906.0
1  6637922.0  8342016.0  2394861.0
2   655608.0  7979885.0  4923889.0
3  1035766.0  2365582.0  2639602.0
4  6137541.0  6993882.0  6866965.0

a    float64
b    float64
c    float64
dtype: object

In [39]:
DF.loc[1, 'b'] = 'XXXXXX'
DF

In [41]:
DFDF= DF.astype('float64') #If we try to chage string datatype to numeric , will give syntax error
print(DF)
DF.dtypes

ValueError: could not convert string to float: 'XXXXXX'

In [45]:
DF['b']= pd.to_numeric(DF['b'], errors='coerce') 
#We can convert numberic datatype to another numberic datatype even though wer have string object in it. 
#Using error method , we can work on it ie either raise error, use as is, replace with nan value.

print(DF)
DF.dtypes

           a          b          c
0  5524964.0  8062377.0   395906.0
1  6637922.0        NaN  2394861.0
2   655608.0  7979885.0  4923889.0
3  1035766.0  2365582.0  2639602.0
4  6137541.0  6993882.0  6866965.0

a    float64
b    float64
c    float64
dtype: object

In [ ]:

lst = ['abc', 10.2, 11.0,15.99,'']

df = pd.Series(lst)
df

In [16]:
df1 = pd.to_numeric(df, errors='ignore')
df1

0      abc
1     10.2
2       11
3    15.99
4
dtype: object

In [12]:
df2 = pd.to_numeric(df1, errors='coerce', downcast= 'signed')
df2

0      NaN
1    10.20
2    11.00
3    15.99
dtype: float64

In [13]:
pd.to_numeric(df2, downcast = 'signed')

0      NaN
1    10.20
2    11.00
3    15.99
dtype: float64